<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ThermoPi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Temperature readings on a raspberry pi">
    <meta name="author" content="Jordan Marinov">

    <!-- Le styles -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/public/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/public/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/public/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">ThermoPi</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sensors <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {{#sensors}}
                    <li id="{{name}}"><a href="/{{name}}/last10m/">{{name}}</a></li>
                  {{/sensors}}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Period <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li id="last10m"><a href="#" id="linkLast10m">Last 10 minutes</a></li>
                  <li id="last24h"><a href="#" id="linkLast24h">Last 24 hours</a></li>
                  <li id="last7d"><a href="#" id="linkLast7d">Last 7 days</a></li>
                  <li id="last30d"><a href="#" id="linkLast30d">Last 30 days</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container row-fluid">

      <div class="span4" id="currentTemp" style="width: 300px; min-height: 300px; margin: 0 auto;"></div>
      
      <div class="span8" id="tempHistory" style="min-width: 300px; min-height: 300px; margin: 0 auto;"></div>

    </div> <!-- /container -->

    <script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/highcharts.js"></script>
    <script type="text/javascript" src="/public/js/highcharts-more.js"></script>

    <script type="text/javascript" src="/public/js/currentTempGauge.js"></script>
    <script type="text/javascript" src="/public/js/tempHistoryGraph.js"></script>

    <script type="text/javascript">
      $(function () {
        var sensor = {
          name: "{{sensor.name}}",
          value: parseFloat({{sensor.value}}),
          timestamp: {{sensor.timestamp}},
        },
        tsd = [{{#tsd}}[{{timestamp}},{{value}}],{{/tsd}}],
        currentSensor = window.location.pathname.replace(/^\/([^\/]*)\/([^\/]*).*$/, '$1'),
        currentPeriod = window.location.pathname.replace(/^\/([^\/]*)\/([^\/]*).*$/, '$2');

        $("#" + currentSensor).addClass("active");
        $("#" + currentPeriod).addClass("active");

        $("#linkLast10m").prop("href", "/" + currentSensor + "/last10m/");
        $("#linkLast24h").prop("href", "/" + currentSensor + "/last24h/");
        $("#linkLast7d").prop("href", "/" + currentSensor + "/last7d/");
        $("#linkLast30d").prop("href", "/" + currentSensor + "/last30d/");

        $.sensorObservers = [];

        if (currentPeriod == 'last10m') {
          interval = 2 * 1000; // 2 seconds
          maxDataPoints = 300;
        } else if (currentPeriod == 'last24h') {
          interval = 24 * 60 * 60 * 1000; // 5 hours
          maxDataPoints = 288;
        } else if (currentPeriod == 'last7d') {
          interval = 7 * 24 * 60 * 60 * 1000; // 7 days
          maxDataPoints = 336;
        } else if (currentPeriod == 'last30d') {
          interval = 30 * 24 * 60 * 60 * 1000; // 30 days
          maxDataPoints = 336;
        }

        setInterval(function() {
          $.get('value.json', function(data) {
            $.sensorObservers.forEach(function (f) {
              f(data);
            });
          });
        }, interval);

        currentTempGauge(sensor);
        tempHistoryGraph(sensor, tsd, maxDataPoints);
      });
    </script>

  </body>
</html>
