<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>TermoPi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Temperature readings on a raspberry pi">
    <meta name="author" content="Jordan Marinov">

    <!-- Le styles -->
    <link href="../public/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="../public/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../public/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../public/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../public/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../public/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../public/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">TermoPi</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              {{#sensors}}
                <li id="{{name}}"><a href="/{{name}}/">{{name}}</a></li>
              {{/sensors}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <div class="span3 pull-left" id="currentTemp" style="min-width: 300px; min-height: 300px; margin: 0 auto;"></div>
      
      <div class="span8 pull-left" id="tempHistory" style="min-width: 400px; min-height: 300px; margin: 0 auto;"></div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="../public/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../public/js/bootstrap.js"></script>
    <script type="text/javascript" src="../public/js/highcharts.js"></script>
    <script type="text/javascript" src="../public/js/highcharts-more.js"></script>

    <script type="text/javascript" src="../public/js/currentTempGauge.js"></script>
    <script type="text/javascript" src="../public/js/tempHistoryGraph.js"></script>

    <script type="text/javascript">
      $(function () {
        var temp = {{sensor.value}};
        var currentSensor = window.location.pathname.replace(/^\/([^\/]*).*$/, '$1');

        currentTempGauge(temp);

        $("#" + currentSensor).addClass("active");
      });
    </script>

  </body>
</html>
