<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ThermoPi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Temperature readings on a raspberry pi">
    <meta name="author" content="Jordan Marinov">

    <!-- Le styles -->
    <link href="/public/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/public/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/public/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/public/ico/favicon.png">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">ThermoPi</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sensors <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {{#sensors}}
                    <li id="{{name}}"><a href="/{{name}}/live/">{{name}}</a></li>
                  {{/sensors}}
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Period <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class='active'><a href="live">Live</a></li>
                  <li class="divider"></li>
                  <li><a href="lastDay">Last Day</a></li>
                  <li><a href="lastWeek">Last Week</a></li>
                  <li><a href="lastMonth">Last Month</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container row-fluid">

      <div class="span4" id="currentTemp" style="width: 300px; min-height: 300px; margin: 0 auto;"></div>
      
      <div class="span8" id="tempHistory" style="min-width: 300px; min-height: 300px; margin: 0 auto;"></div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/public/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/highcharts.js"></script>
    <script type="text/javascript" src="/public/js/highcharts-more.js"></script>

    <script type="text/javascript" src="/public/js/currentTempGauge.js"></script>
    <script type="text/javascript" src="/public/js/tempHistoryGraph.js"></script>

    <script type="text/javascript">
      $(function () {
        var sensor = {
          name: "{{sensor.name}}",
          value: parseFloat({{sensor.value}}),
          timestamp: {{sensor.timestamp}},
        },
        tsd = [{{#tsd}}[{{timestamp}},{{value}}],{{/tsd}}],
        currentSensor = window.location.pathname.replace(/^\/([^\/]*)\/([^\/]*).*$/, '$1'),
        currentPeriod = window.location.pathname.replace(/^\/([^\/]*)\/([^\/]*).*$/, '$2');

        $("#" + currentSensor).addClass("active");

        $.sensorObservers = [];

        if (currentPeriod == 'live') {
          interval = 2000;
          maxDataPoints = 1800;
        } else if (currentPeriod == 'lastDay') {
          interval = 300000;
          maxDataPoints = 288;
        }

        setInterval(function() {
          $.get('value.json', function(data) {
              //console.log(data);
              $.sensorObservers.forEach(function (f) {
                  f(data);
              });
          });
        }, interval);

        currentTempGauge(sensor);
        tempHistoryGraph(sensor, tsd, maxDataPoints);
      });
    </script>

  </body>
</html>
